body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
/*
#mainmenu
{
background:white url(bg.gif) repeat-x left top;
}
#mainmenu ul
{
padding:6px 20px 5px 20px;
margin:0px;
}
#mainmenu ul li
{
display: inline;
}
#mainmenu ul li a
{
color:#ffffff;
background-color:transparent;
font-size:12px;
font-weight:bold;
text-decoration:none;
padding:5px 8px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
color: #6399cd;
background-color:#EFF4FA;
text-decoration:none;
}
Replace the previous code with the following:*/
#mainmenu
{
background:white url(bg.gif) repeat-x left top;
}
#mainmenu ul
{
padding:6px 20px 5px 20px;
list-style: none;
margin: 0;
padding: 0;
position: relative;
height: 30px;
}
#mainmenu ul li
{
display: block;
height: 28px;
float: left;
overflow: visible;
position: relative;
}
#mainmenu li ul
{
position: absolute;
top: 24px;
left: 10px;
}
#mainmenu li ul li
{
display: none;
}
#mainmenu ul li a
{
float: left;
display: block;
color:#ffffff;
background-color:transparent;
font-size:12px;
font-weight:bold;
text-decoration:none;
padding:5px 8px;
}
#mainmenu .active a, #mainmenu li:hover > a,
#mainmenu li:hover > ul li
{
display: block;
color: #6399cd;
background-color:#EFF4FA;
text-decoration:none;
}

/*.inputdiv{
    border: 1px solid transparent;
    padding: 5px;
    margin-bottom: 5px;
}

.inputdiv:hover{
    border: 1px solid gray;
}

.inputdiv:active{
    border: 1px solid gray;
}

.inputdiv:focus{
    border: 1px solid gray;
}*/

.firstHeading{
    color: #3b5998;
    font-size: 20px;
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
}

.map-text-box{
    border: 1px solid transparent; 
    background-color: transparent;
    margin-bottom: 3px;
}

.map-text-box.hundred{
    width: 100%;
}

.map-text-box.margin-right-3{
    margin-right: 3px;
}

/*.map-text-box:active, .map-text-box:focus, .map-text-box:hover{
    border: 1px solid gray;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}*/

.map-text-box-edit{
    border: 1px solid gray;
    border-color: rgba(82, 168, 236, 0.8);
/*    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);*/
    outline: 0 none;
}

.map-text-box-edit:active, .map-text-box-edit:focus, .map-text-box-edit:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);    
}

/*.firstHeading:active, .firstHeading:focus, .firstHeading:hover{
    border: 1px solid gray;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}*/


.bodyContent{
    border: 1px solid #8b9dc3;
    background-color: #dfe3ee;
    padding: 10px;
    width: 290px;
}
.bodyContent b{
    color: #3b5998;
    width: 150px;
}

.file-data-table thead th{
    border: 1px solid lightblue;
    cursor: pointer;
}

.file-data-table thead th:hover{
    border-color: gray;
}

.file-data-table thead th.new{
    background-color:gold;
}

.file-data-table thead th.new:hover{
    background-color:red;
    color: white;
}

.file-data-table tbody tr{
    border: 1px solid gray;    
}

.file-data-table tbody tr td{
    border: 1px solid lightblue;
    cursor: pointer;
}

.file-data-table tbody tr td:hover{
    border-color: gray;
}

.file-data-table tbody tr td span{
    border: 1px solid lightgray;
    cursor: pointer; 
    padding: 3px
}

.file-data-table tbody tr td span:hover{
    border: 1px solid gray;
    color: gray;
}

.new_btn{
    cursor: pointer;
    height: 30px;
    background-color:gold;
    border-radius: 5px;
}

.new_btn:hover{
    background-color:red;
    color: white !important;
}

#ntf{
    height: 16px;
    width: 16px;
    margin-right: 0px;
    margin-top: -20px;
    float: right;
}

.edit{
    height: 16px;
    width: 16px;
    margin-right: -20px;
    margin-top: -20px;
    float: right;
    cursor: pointer;
}

.edit:hover{
    background-color: #FBE3E4;
}

.searchBox{
    float: right;
    height: 25px;
    left: 113px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 0;
    border: 1px solid #0066CC;
}

.searchBoxHeader{
    font-weight: bold; 
    color: #0066CC;
    margin: 0px;
    font-size: 12px;
}

.searchBoxDetails{
    margin: 0px;
    font-size: 10px;
}

.button-section{
    text-align: right;
    width: 313px;
    margin-top: 5px;
    height: 35px;
}

.bottom_btn{
    display: none;
}

.tooltip { 
    position:absolute;
    width: 145px;
    padding: 5px;
    border: 1px solid gray;
    font-size: 9pt;
    font-family: Verdana;
    background-color: #fff;
    color: #000;
}